.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.slide-right-leave-active,
.slide-right-enter {
  transition: all .55s ease;
}

.slide-right-leave-active {
  opacity: 0;
  transform: translate(100px, 0);
}
.slide-right-enter {
  opacity: 0;
  transform: translate(100px, 0);
}
