@import "destyle";
@import "helpers";
@import "animation";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #F2F2F2;
}

html {
  background-color: #1e2333;
}

.button {
  padding: 12px 25px;
  border-radius: 4px;
  background-color: #191d2af2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: all .3s ease;
  white-space: nowrap;
  font-size: 18px;
  line-height: 24px;

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }

  &.loaded {
    transform: scale(0.9) translateY(4px);
    opacity: 0.5;
    box-shadow: 0 2px 4px rgba(255, 255, 255, .4);
  }
}
