.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

.direction-column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.direction-row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}
