<template>
  <table class="game__table">
    <tbody>
    <tr
        :key="item.id" class="text-center"
        v-for="item in questions"
    >
      <td
          class="game__table__cell"
      >{{ item.title }}
      </td>
      <td
          class="game__table__cell clue"
          :key="clue.id" :class="{
            incorrect: incorrectIds.includes(clue.id),
            correct: correctIds.includes(clue.id)
          }"
          v-for="clue in item.clues"
          @click="$emit('check', clue)"
      >
        {{ clue.value }}
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "gameTable",
  props: ['questions', 'correctIds', 'incorrectIds']
}
</script>

<style scoped lang="scss">
.game {
  &__table {
    margin-bottom: 40px;

    &__cell {
      border: 1px solid #00ff082b;
      min-width: 70px;
      font-size: 20px;
      line-height: 20px;
      padding: 20px 10px;
      box-shadow: inset 0 0 10px #424a436b;

      @media (max-width: 767px) {
        min-width: auto;
        font-size: 13px;
        line-height: 15px;
        padding: 6px;
        white-space: nowrap;
      }

      &.clue {
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
          box-shadow: inset 0 0 15px #16f53cb8;
        }

        &:nth-child(2) {
          &:hover {
            box-shadow: inset 0 0 15px #16f53cb8;
          }
        }

        &:nth-child(3) {
          &:hover {
            box-shadow: inset 0 0 15px #d7f516b8;
          }
        }

        &:nth-child(4) {
          &:hover {
            box-shadow: inset 0 0 15px #f5c116b8;
          }
        }

        &:nth-child(5) {
          &:hover {
            box-shadow: inset 0 0 15px #f57916b8;
          }
        }

        &:nth-child(6) {
          &:hover {
            box-shadow: inset 0 0 15px #f53116b8;
          }
        }

        &.correct,
        &.incorrect {
          color: transparent;
          pointer-events: none;
        }

        &.correct {
          background-color: rgba(0, 128, 0, .15);
        }

        &.incorrect {
          background-color: rgba(255, 0, 0, .15);
        }
      }
    }
  }
}
</style>
