<template>
  <div class="question__modal flex direction-column align-center">
    <p class="question">
      {{ question.question }}
    </p>
    <span class="timer">
      {{ timer }}
    </span>
    <form
        v-if="!showResult"
        class="form flex align-center"
        @submit.prevent="checkAnswer"
    >
      <custom-input
          :value.sync="answer"
          placeholder="введите ответ"
      ></custom-input>
      <button class="button">
        Ok!
      </button>
    </form>
    <transition name="fame" mode="out-in">
      <p
          v-if="showResult" class="result"
          :class="valid ? 'valid': 'invalid'">
        {{ valid ? 'Ok!' : 'error :(' }}
      </p>
    </transition>
  </div>
</template>

<script>
import CustomInput from "@/components/customInput";

export default {
  name: "question",
  components: {CustomInput},
  props: ['question'],
  data() {
    return {
      answer: '',
      showResult: false,
      valid: false,
      timer: 0,
      timerId: null
    }
  },
  methods: {
    checkAnswer() {
      clearInterval(this.timerId);
      this.valid = this.answer.trim() === this.question.answer.trim();
      this.showResult = true;
      this.$emit('gaveAnswer', this.valid)
    }
  },
  mounted() {
    this.timerId = setInterval(() => {
      this.timer++
      if (this.timer >= 60) {
        clearInterval(this.timerId);
        this.$emit('gaveAnswer', this.valid)
      }
    }, 1000);
  }
}
</script>

<style scoped lang="scss">
.question {
  font-size: 20px;
  text-align: center;

  @media (max-width: 568px) {
    font-size: 15px;
  }

  &__modal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    min-height: 100%;
    z-index: 1;
    background-color: #1e2333;
    box-shadow: 0 0 15px rgba(29, 4, 4, 0.25);
    padding: 50px 25px 10px;

    @media (max-width: 376px) {
      font-size: 14px;
      padding: 20px 15px;
    }
  }

}

.result {
  font-size: 25px;

  &.valid {
    color: green;
  }

  &.invalid {
    color: red;
  }
}

.timer {
  font-size: 20px;
  padding: 30px 0 40px;

  @media (max-width: 568px) {
    font-size: 14px;
    padding: 15px 0;
  }
}
</style>
