<template>
  <div class="game--wrap flex align-center justify-center direction-column">
    <button
        v-if="!gameIsStart"
        class="button" :class="{loaded}"
        @click="loadGame"
    >
      Начать игру
    </button>
    <transition name="fade">
      <div class="game" v-if="gameIsStart">
        <div class="game__table--wrap">
          <game-table
              :questions="questions"
              :correctIds="correctIds"
              :incorrectIds="incorrectIds"
              @check="checkQuestion"
          ></game-table>
          <question
              v-if="checkedQuestion"
              :question="checkedQuestion"
              @gaveAnswer="gaveAnswer"
          ></question>
        </div>

        <div class="flex justify-between align-center">
          <span>Очки: <span>{{ userPoints }}</span></span>
          <button
              class="button"
              @click="finishGame"
          >
            Закончить игру
          </button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations, mapState} from "vuex";
import Question from "@/components/game/question";
import GameTable from "@/components/game/gameTable";
import {routes} from "@/config/constans";

export default {
  name: "game",
  components: {GameTable, Question},
  data() {
    return {
      loaded: false,
      checkedQuestion: null
    }
  },
  computed: {
    ...mapState({
      questions: state => state.jeopardy.questions,
      gameIsStart: state => state.jeopardy.gameIsStart,
      userPoints: state => state.user.points,
      correctIds: state => state.user.correctIds,
      incorrectIds: state => state.user.incorrectIds,
      oldGames: state => state.user.oldGames,
    }),
    archivedQuestionIds() {
      return [...this.correctIds, ...this.incorrectIds]
    },
    ...mapGetters(['getUserData']),
  },
  methods: {
    ...mapActions([
      'loadQuestions',
    ]),
    ...mapMutations([
      'startGame',
      'stopGame',
      'addPoints',
      'subtractPoints',
      'setOldGames',
      'clearUserCurrentGame'
    ]),
    async loadGame() {
      try {
        this.loaded = true;
        this.clearUserCurrentGame();
        await this.loadQuestions();
      } finally {
        this.loaded = false;
        this.startGame()
      }
    },
    async finishGame() {
      const { oldGames, getUserData} = this;
      const updatedOldGames = [...oldGames, getUserData];

      this.setOldGames(updatedOldGames);
      localStorage.setItem(
          'oldGames',
          JSON.stringify(updatedOldGames)
      );
      await this.$router.push(routes.statistics);
      this.stopGame();
    },
    checkQuestion(question) {
      const {id} = question;
      console.log('answer => ', question.answer);

      if (!this.archivedQuestionIds.includes(id)) {
        this.checkedQuestion = question;
      }
    },
    gaveAnswer(correct) {
      const {value, id} = this.checkedQuestion;

      correct
          ? this.addPoints({id, value})
          : this.subtractPoints({id, value});

      setTimeout(() => {
        this.checkedQuestion = null;
        if (this.archivedQuestionIds.length === 25) {
          this.finishGame()
        }
      }, 1000)

    }
  }
}
</script>

<style scoped lang="scss">
.game {
  &__table {
    &--wrap {
      position: relative;
    }
  }

  &--wrap {
    flex: 1;
  }
}

</style>
