<template>
  <div class="wrapper flex direction-column align-center">
    <nav
        v-if="userName"
        class="nav flex justify-center"
    >
      <router-link
          class="nav__item"
          :to="routes.statistics"
      >
        Статистика
      </router-link>
      <router-link
          class="nav__item"
          :to="routes.game"
      >
        Игра
      </router-link>
    </nav>
    <transition name="fade" mode="out-in">
      <router-view
          v-if="userName"
          :key="$route.path"
      />
    </transition>

    <create-user
        v-if="!userName"
    />
  </div>
</template>

<script>
import {routes} from "@/config/constans";
import CreateUser from "@/components/createUser";

export default {
  name: "index",
  components: {CreateUser},
  data() {
    return {
      routes
    }
  },
  computed: {
    userName() {
      return this.$store.state.user.name
    }
  },
  created() {
    const oldGames = localStorage.getItem('oldGames');
    const userName = localStorage.getItem('userName');
    if (userName) {
      this.$store.commit('setUserName', userName);
      if (oldGames) {
        this.$store.commit('setOldGames', JSON.parse(oldGames))
      }
    } else {
      if (this.$route.name !== 'game') {
        this.$router.push(routes.game)
      }
    }

  }
}
</script>

<style scoped lang="scss">
.wrapper {
  min-height: 100vh;
}

.nav {
  width: 100%;

  &__item {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .1);
    transition: all .3s ease;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .4);

    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }

    &.exactActive {
      background-color: rgba(31, 61, 86, .7);
      position: relative;
      z-index: 1;
    }
  }
}
</style>
