<template>
  <div class="statistics--wrap flex wrap justify-around">
    <div class="statistics">
      <p class="statistics__title">
        Текущая игра
      </p>
      <game-info
          class="statistics__currentInfo"
          :data="userData"
      ></game-info>

      <button
          class="button statistics__clearUserDataButton"
          @click="clearUserData"
      >
        удалить данные юзера
      </button>
    </div>
    <div class="oldGames" v-if="oldGamesData.length">
      <p class="statistics__title">
        Прошлые игры
      </p>
      <div class="statistics__oldInfo--wrap flex column-reverse">
        <game-info
            v-for="(game, idx) in oldGamesData"
            class="statistics__oldInfo"
            :data="game" :key="idx"
        ></game-info>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import GameInfo from "@/components/gameInfo";
import {routes} from "@/config/constans";

export default {
  name: "statistics",
  components: {GameInfo},
  data() {
    return {
      pageContent: {
        name: 'Имя',
        commonLength: 'Сыгранно вопросов',
        correctLength: 'Верно',
        incorrectLength: 'Неверно',
        points: 'Баллы'
      }
    }
  },
  computed: {
    ...mapState({
      name: state => state.user.name,
      correctLength: state => state.user.correctIds.length,
      incorrectLength: state => state.user.incorrectIds.length,
      points: state => state.user.points,
      oldGames: state => state.user.oldGames,
    }),
    ...mapGetters(['getUserData']),
    commonLength() {
      const { correctLength, incorrectLength } = this;
      return correctLength + incorrectLength;
    },
    userData() {
      return this.formatGameData({
        name: this.name,
        ...this.getUserData
      })
    },
    oldGamesData() {
      return this.oldGames.length === 1
          ? []
          : this.oldGames
              .filter((game, idx) => idx + 1 !== this.oldGames.length)
              .map(this.formatGameData)
    }
  },
  methods: {
    ...mapMutations([
        'clearUserCurrentGame',
        'setUserName',
        'setOldGames'
    ]),
    formatGameData(data) {
      return Object.keys(data).reduce((acc, key) => ({
        ...acc,
        [key]: {
          title: this.pageContent[key],
          value: data[key]
        }
      }), {})
    },
    clearUserData() {
      localStorage.removeItem('oldGames');
      localStorage.removeItem('userName');
      this.setUserName('');
      this.setOldGames([])
      this.clearUserCurrentGame();
      this.$router.push(routes.game);
    }
  }
}
</script>

<style scoped lang="scss">
.statistics {
  @media (max-width: 767px) {
    min-width: 100%;
  }

  &__clearUserDataButton {
    margin-top: 40px;

    @media (max-width: 767px) {
      margin: 40px auto 0;
      display: block;
    }
  }

  &__oldInfo {

    &--wrap {
      overflow: auto;
      padding: 10px;
      max-height: 294px;
    }

    &:not(:first-child) {
      margin-bottom: 15px;
    }
  }

  &__currentInfo {
    font-size: 20px;
  }

  &--wrap {
    flex: 1;
    width: 100%;
    padding: 60px 15px 0;
    max-width: 1300px;
  }

  &__title {
    font-size: 27px;
    margin-bottom: 25px;

    @media (max-width: 375px) {
      text-align: center;
    }
  }
}

.oldGames {
  @media (max-width: 767px) {
    min-width: 100%;
  }
}
</style>
