<template>
  <form
      class="form flex align-end"
      @submit.prevent="validateUserName"
  >
    <custom-input
        :value.sync="inputValue"
        :error="error"
        title="Введите имя"
        error-text="Имя должно состоять из символов кириллицы, латиницы, цифр и знака подчеркивания"
    ></custom-input>
    <button class="button">
      Ok!
    </button>
  </form>
</template>

<script>
import CustomInput from "@/components/customInput";
export default {
  name: "createUser",
  components: {CustomInput},
  data() {
    return {
      inputValue: '',
      error: false
    }
  },
  methods: {
    validateUserName() {
      this.error = false;

      const re = /^[а-яА-Яa-zA-Z0-9_]{1,}$/;
      const isValidUserName = re.test(this.inputValue);

      if (isValidUserName) {
        this.$store.commit('setUserName', this.inputValue);
        this.$emit('createUser');
        localStorage.setItem('userName', this.inputValue)
      } else {
        this.error = true;
      }
    }
  }
}
</script>

<style scoped lang="scss">

.form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 375px) {
    left: 15px;
    right: 15px;
    transform: translateY(-50%);
  }
}

.button {
  margin-left: 7px;
}
</style>
