<template>
  <label class="label flex direction-column">
    <span class="title">
      <slot name="title">{{ title }}</slot>
    </span>
    <input
        ref="input"
        type="text" class="input" :value="value" :class="{error}"
        @input="$emit('update:value', $event.target.value)"
        :placeholder="placeholder"
    >
    <span class="errorText" v-if="error">
       <slot name="error">
         {{ errorText }}
       </slot>
      </span>
  </label>
</template>

<script>
export default {
  name: "customInput",
  props: ['error', 'value', 'errorText', 'title', 'placeholder'],
  mounted() {
    this.$nextTick(() =>
        this.$refs.input?.focus()
    )
  }
}
</script>

<style scoped lang="scss">
.label {
  position: relative;
}

.title {
  font-size: 16px;
  line-height: 20px;

  &:not(:empty) {
    margin-bottom: 7px;
  }
}

.input {
  width: 100%;
  min-width: 300px;
  font-size: 18px;
  line-height: 28px;
  color: #e8eaef;
  padding: 8px 15px;
  transition: all .3s ease;
  background-color: #2f3547;
  border-radius: 4px;
  border: 1px solid #232d38;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);

  @media (max-width: 375px) {
    min-width: 100%;
    width: 100%;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 3px rgba(12, 35, 101, 0.8);
  }

  &.error {
    color: red;
    border-color: red;
  }
}

.errorText {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 10px);
  color: red;
}
</style>
