<template>
 <div class="statistics__item--wrap">
   <div
       v-for="(game, key) in data"
       class="flex justify-between statistics__item" :key="key"
   >
        <span class="statistics__title">
          {{ game.title }}
        </span>
     <span class="statistics__value">
          {{ game.value }}
        </span>
   </div>
 </div>
</template>

<script>
export default {
  name: "gameInfo",
  props: ['data']
}
</script>

<style scoped lang="scss">
.statistics {
  &__title {
    padding-right: 20px;
  }

  &__item {

    &--wrap {
      min-width: 290px;
      box-shadow: 0 0 6px rgba(0, 0, 0, .45);
      padding: 15px;
      border-radius: 4px;

      @media (max-width: 375px) {
        min-width: 100%;
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
</style>
